# --- Environnement Virtuel ---
.venv/
venv/
env/
ENV/
bin/
lib/
include/

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# --- Django ---
db.sqlite3
db.sqlite3-journal
local_settings.py
.env
staticfiles/
media/

# --- Logs et IDE ---
*.log
.vscode/
.idea/
.DS_Store

# --- Tests ---
.coverage
htmlcov/
.pytest_cache/